@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Smooch+Sans:wght@100..900&display=swap'); 

#agendamento{
    color: #ffffff;
    font-size: 21px;
    background-color:#356fa5;
    padding: 2px;
    border-radius: 20px;
    text-decoration: none;
}

#agendamento:hover{
    background-color: #185992;
    color: #ffffff;
    text-decoration: none;
}

h2{
    color: #a8cbee;
}

p, ul {
    color: #ffffff;
}

h1 {
    color: #beddfc;
}

body {
    background-color: #0d0e0e;
    margin: 0 0px;
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    

}

header {
    background-color: #6b8aa7;
    text-align: center;
    padding: 2px;
}

nav {
    padding: 10px;
    background-color: rgb(0, 107, 139);
    text-align: center;
}

nav a {
    color: #beddfc;
    text-decoration: none;
    padding: 25px;
    font-weight: bold;

}
    nav a:hover{
        color: rgb(0, 0, 0);

}

footer{
        background-color: #ffffff09;
        color: aliceblue;
        text-align: center;
        padding: 10px;
    }


    section{
        margin-bottom: 40px;
        background-color: #ffffff13;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px;
        margin-bottom: 60px;

    }

    main{
        padding: 20px;
    }